.sidebar {
  flex: 2.5;
  height: 100vh;
}
.sidebarWrapper {
  padding: 20px;
}
.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px 6px;
  cursor: pointer;
  box-shadow: 11px 15px 9px -9px #e2e2e2;
  border-radius: 10px;
  transition: all 0.3s;
}
.sidebarListItem:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.sidebarFriendImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebarIcon {
  font-size: 35px !important;
  margin-right: 10px;
}

.sidebarListItemText {
  font-size: 20px;
  padding-top: 3px;
}
.sidebarHr {
  margin: 25px 0 15px;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendTitle {
  padding: 10px 10px 10px 0;
}
