.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginRight,
.loginLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #41428b;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 11px 15px 9px -9px #c7c7c7;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #41428b;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #41428b;
  margin: 15px 0;
}

.loginRegisterButton {
  height: 50px;
  width: 60%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #3c8b50;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.loginMsg {
  font-weight: 550;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}
